# Common
NODE_ENV=development
LOG_LEVEL=debug

# Backend
PORT=3000
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=db_proj
MONGO_URI=mongodb://mongo:27017/db_proj
REDIS_URL=redis://redis:6379

# Blockchain
RPC_URL=http://local-chain:8545
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 # Hardhat Account 0

# Worker
WORKER_INTERVAL_MS=5000

# Secrets (Vault/AWS)
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=root
AWS_REGION=us-east-1
